body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: #f2e9c6;
    }

    /* HEADER */
    header {
        background: #7ee9f5;
        padding: 1px ;
        text-align: center;
        font-weight: bold;
    }

    header h1{

        font-size: 46px;
    }

    /* NAV MENU */
    nav {
        background: #f2e9c6;
        display: flex;
        justify-content: center;
        gap: 50px;
         text-align: center;
         
        
    }
    nav a {
        text-decoration: none;
        font-weight: bold;
        color: #000;
        background-color:  #7ee9f5;
        padding: 40px;
       
    
        

       
        
    }

    nav a.active {
    background-color: #00a3cc;
    color: white;
}

nav a:hover {
    background-color: #00a3cc;
    color: white;
}

nav p{

    padding:10px;
    height:1px;
    

}

.hr{
    border: none;
      height: 2px;
      background: black;
      margin: 2rem auto;
      width: 80%;
}

    /* SEARCH BAR (CSS COLLAPSE) */
    details {
        width: 90%;
        max-width: 670px;
        margin: 12px auto;
    }
    summary {
        cursor: pointer;
        font-size: 20px;
        text-align: right;
        list-style: none;
    }
    summary::-webkit-details-marker {
        display: none; /* hide arrow */
    }

    #searchInput {
        width: 99%;
        padding: 10px;
        border: 2px solid #999;
        border-radius: 8px;
        font-size: 16px;
        margin-top: 8px;
    }

    /* ICON GRID */
    .grid {
        width: 90%;
        max-width: 420px;
          margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 28px;
        text-align: center;
    }
    .grid div {
        font-size: 14px;
    }
    .grid img {
        width: 90px;
        height: 90px;
        display: block;
        margin: auto;
    }

    .gridgpu{

        width: 100px;
        height: 100px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
        text-align: center;
    }

   .grid-fan-others {
    width: 90%;
    max-width: 720px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: px;

    justify-items: center; /* center horizontally ONLY */
}

.grid-fan-others div {
    display: flex;
    flex-direction: column;
    align-items: center;  /* centers image + text horizontally */
    text-align: center;   /* keeps label centered under image */
}

.grid-fan-others img {
    width: 90px;
    height: 89px;
    display: block;
    margin-bottom: 6px;   /* ensures text stays beneath the image */
}


    /* A (?) TRENDING ARTICLE */
    .article {
        width: 70%;
        max-width: 420px;
      
       
        margin: 30px auto;
        background: #fff;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    }
    .article img {
        width: 100%;
        border-radius: 10px;
        
    }
    .article a {
        color: #0066ff;
        text-decoration: none;
    }

    /* FOOTER */
    footer {
        background: #292929;
        color: #fff;
        padding: 150px;
        text-align: center;
        font-size: 14px;
        margin-top: 40px;
    }

    /* Big screens*/
    @media screen and (max-width: 2160px) {
    nav {
        justify-content: center;
        gap: 88px;
        font-size:78 px;
    }

    nav a {
        font-size: 24px;
        padding: 12px ;
    }

    header {
        font-size: 48px;
    }

     .grid {
        width: 90%;
        max-width: 2160px;
        margin: 60px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 48px;
        text-align: center;
    }

     
    
    .grid div {
        font-size: 19px;
    }
    .grid img {
        width: 65px;
        height: 65px;
        display: block;
        margin: auto;
    }

      .menu-grid {
    width: 90%;
   max-width: 2160px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.menu-item {
    background: #7ee9f5;
    padding: 23px 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    border-radius: 6px;
}

     details {
        width: 90%;
        max-width: 2140px;
        margin: 12px auto;
    }

     summary {
        cursor: pointer;
        font-size: 45px;
        text-align: right;
        list-style: none;
    }

     footer {
        background: #292929;
        color: #fff;
        padding: 25px;
        text-align: center;
        font-size: 14px;
        margin-top: 40px;
    }


    

}

/* for phone screens that are in landscape and tablets */

@media screen and (max-width:900px){

nav {
       justify-content: center;
    gap: 50px;   
   }

   nav a {
    font-size: 19px;
    padding: 12px;
    }

         .menu-grid {
    width: 90%;
   max-width: 900px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.menu-item {
    background: #7ee9f5;
    padding: 23px 20px;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    border-radius: 6px;
}

 footer {
        background: #292929;
        color: #fff;
        padding: 35px;
        text-align: center;
        font-size: 16px;
        margin-top: 89px;
        
    }
}

    /*for phone screens that are landscape*/
     @media screen (max-height:1920px) {

        nav {
       justify-content: center;
    gap: 50px;   
   }

   nav a {
    font-size: 19px;
    padding: 12px;
    }

         .menu-grid {
    width: 90%;
   max-width: 900px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.menu-item {
    background: #7ee9f5;
    padding: 23px 20px;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    border-radius: 6px;
}

 footer {
        background: #292929;
        color: #fff;
        padding: 35px;
        text-align: center;
        font-size: 16px;
        margin-top: 89px;
        
    }



        
    }


   

    /* Medium Screens */
@media screen and (max-width:700px) {
    nav {
        justify-content: center;
     gap: 29px;   
    }

    nav a {
     font-size: 19px;
     padding: 12px;
     }

    header {
        font-size: 1px;
    }

     #search-toggle:checked ~ .search-bar {
        width: 90vw;
    }

      .grid {
        width: 90%;
        max-width: 800px;
        margin: 28px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 38px;
        text-align: center;
    }
    .grid div {
        font-size: 17px;
    }
    .grid img {
        width: 70px;
        height: 70px;
        display: block;
        margin: auto;
    }
    
    .grid-fan-others img {
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 6px;   /* ensures text stays beneath the image */
    }

     .menu-grid {
    width: 90%;
   max-width: 700px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.menu-item {
    background: #7ee9f5;
    padding: 0px 20px;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    border-radius: 6px;
}


     details {
        width: 90%;
        max-width: 670px;
        margin: 12px auto;
    }

      summary {
        cursor: pointer;
        font-size: 35px;
        text-align: right;
        list-style: none;
      }

       footer {
        background: #292929;
        color: #fff;
        padding: 25px;
        text-align: center;
        font-size: 16px;
        margin-top: 89px;
        
    }

      .menu-grid {
        grid-template-columns: 2, 1fr;
        width: 95%;
        padding: 15px;
    }

    

}

/* Small Screens */
@media screen and (max-width: 500px) {
    nav {
        display: block;
        gap: 20px;
       
    }

    nav a {
        width: 90%;
        text-align: center;
        font-size: 17px;
    }

    #search-toggle:checked ~ .search-bar {
        width: 8vw;
    }

    header {
        font-size: 5455px;
    }

      .grid {
        width: 90%;
        max-width: 500px;
        margin: 27px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        text-align: center;
    }
    .grid div {
        font-size: 18px;
    }
    .grid img {
        width: 70px;
        height: 70px;
        display: block;
        margin: auto;
    }

    .grid-fan-others img {
    width: 80px;
    height: 80px;
    display: block;
    margin-bottom: 6px;   /* ensures text stays beneath the image */
}

 .menu-grid {
    width: 90%;
   max-width: 500px;
    margin: 990px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.menu-item {
    background: #7ee9f5;
    padding: 200px 20px;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    border-radius: 6px;
}

 .menu-grid {
        grid-template-columns: 2 1fr;
        width: 95%;
    }


     details {
        width: 90%;
        max-width: 670px;
        margin: 12px auto;
    }
      summary {
        cursor: pointer;
        font-size: 25px;
        text-align: right;
        list-style: none;
      }

       footer {
        background: #292929;
        color: #fff;
        padding: 20px;
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
    }




    /*for the menu page*/

    .menu-grid {
    width: 90%;
   max-width: 1080px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.menu-item {
    background: #7ee9f5;
    padding: 0px 20px;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    border-radius: 6px;
}

footer {
    background: #292929;
    color: #fff;
    padding: 150px;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

/*  BIG SCREENS */
@media screen and (max-width: 2160px) {
    nav {
        justify-content: center;
        gap: 108px;
    }

    nav a {
        font-size: 24px;
        padding: 12px;
    }

    header {
        font-size: 48px;
    }

    footer {
        padding: 25px;
    }
}

TABLETS / LANDSCAPE PHONES */
@media screen and (max-width: 900px) {
  nav {
      gap: 19px;
  }

  nav a {
      font-size: 19px;
      padding: 92px;
  }
}



/*  SMALL SCREENS */
@media screen and (max-width: 700px) {
    nav {
        gap: 35px;
    }

    nav a {
        font-size: 17px;
        padding: 7px;
    }

    .menu-grid {
        grid-template-columns:  1fr;
        width: 91%;
        gap:50px;
    }

    header h1 {
        font-size: 32px;
    }
}


    /*di pa to tapos  ૮(˶╥︿╥)ა */
